@model List<string>

<head>

</head>
<body>

    <form asp-controller="Home" asp-action="ImageUpload" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label for="exampleFormControlFile1">Dosya Yükle</label>
            <input type="file" name="formFile" class="form-control-file" id="exampleFormControlFile1">

        </div>
        <button type="submit" class="btn btn-primary mb-2">Dosyayı Gönder</button>

        <div>
            <h2>Yüklenen Dosyalar</h2>
            <div>
                @if (Model != null)
                {
                    @foreach (var fileName in Model)
                    {
                        @*  <button>@fileName</button>   asp-route-fileName="@fileName" *@
                        <br />
                        <button asp-controller="Home" asp-action="Suggestions" class="btn btn-danger" asp-route-fileName="@fileName"> @fileName  </button>

                        @*<img src="~/img/@fileName" alt="@fileName" /><p>@fileName</p>*@
                    }

                }

            </div>
        </div>

    </form>



</body>

